@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-text {
    color: rgba(75, 26, 222, 0.865);
    animation: blink 2s infinite;
}
